body {
    background-color: black;
    color: white;
}

h1 {
    color: white;
    text-align: center;
    font-size: 20px;
}

p {
    color: lightgrey;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}

.div-class {
    color: white;
    border: 2px dotted;
    width: 100px;
    height: 100px;
}

ol {
    list-style-type: upper-alpha;
}

ul {
    list-style-type: square;
}